/* You can add global styles to this file, and also import other style files */
#card-clientes{
  background: #212529;
  color: white;
}

.backColor{
  background: #F5F5F5;
  color: black;
}
.alert-danger{
  padding: 0.5rem 0em;
  text-align: center;
}
