<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form>
      <!--NOMBRES-->
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombres</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre">
        </div>
      </div>
      <!--APELLIDOS-->
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellidos</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido">
        </div>
      </div>
      <!--MAIL-->
      <div class="form-group row">
        <label for="mail" class="col-form-label col-sm-2">Mail</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.mail" name="mail">
        </div>
      </div>
      <!--BOTÓN-->
      <div class="form-group row">
        <div class="col-sm-6">
            <button class="btn btn-light" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock">Crear</button>
            <ng-template #elseBlock>
              <button class="btn btn-light" role="button" (click)='updateCliente()'>Actualizar</button>
            </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
